@use '../../styles.scss';

header {
    @include styles.header-footer;
}

a {
    @include styles.href;
    display: inline;
    margin-right: 20px;
    cursor: pointer;

    &:hover {
        color: #696774;
        transition: 0.4s;
    }
}

ul {
    position: absolute;
    list-style-type: none;
    background: var(--header-background);
    top: 24px;
    left: 175px;
    padding: 10px;
    border-radius: 5px;
}

li {
    @include styles.href;
}

input {
    height: 0;
    width: 0;
    visibility: hidden;

    &:checked+label {
    
        background: #5574da;
    
        &::after {
            left: 100%;
            transform: translateX(-100%);
        }
    }
}

label {
    cursor: pointer;
    width: 37px;
    height: 18px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0px;
        width: 18px;
        height: 18px;
        background: #fff;
        border-radius: 100px;
        transition: 0.3s;
    }

    &:active::after {
        width: 18px;
    }
}

label,
p,
input {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}