<div class="banner">
    <form class="search-form">
        <input placeholder="Enter a city">
        <button>Search</button>
    </form>
</div>
<h2 class="location">Sofia, Bulgaria</h2>
<div class="container">
    <div class="current">
        <div class="header">
            <h2>CURRENT WEATHER</h2>
        </div>
        <div class="inline">
            <img src="../../assets/icons/01-s.png">
            <div>
                <p class="degrees">7.2° C</p>
                <p class="info">Light rain</p>
            </div>
        </div>
        <div class="today">{{"2024-02-12T13:00:00+02:00" | date:'fullDate' }}</div>
    </div>
    <div class="forecast">
        <div class="header">
            <h2>5-DAY FORECAST</h2>
        </div>
        <div class="single-day">
            <p>{{"2024-02-12T13:00:00+02:00" | date }}</p>
            <div>
                <img src="../../assets/icons/01-s.png">
            </div>
            <div>
                <span>4°|</span><span>11.2°C</span>
            </div>
            <p>Showers</p>
        </div>
        <div class="single-day">
            <p>{{"2024-02-12T13:00:00+02:00" | date }}</p>
            <div>
                <img src="../../assets/icons/01-s.png">
            </div>
            <div>
                <span>4°|</span><span>11.2°C</span>
            </div>
            <p>Showers</p>
        </div>
        <div class="single-day">
            <p>{{"2024-02-12T13:00:00+02:00" | date }}</p>
            <div>
                <img src="../../assets/icons/01-s.png">
            </div>
            <div>
                <span>4°|</span><span>11.2°C</span>
            </div>
            <p>Showers</p>
        </div>
        <div class="single-day">
            <p>{{"2024-02-12T13:00:00+02:00" | date }}</p>
            <div>
                <img src="../../assets/icons/01-s.png">
            </div>
            <div>
                <span>4°|</span><span>11.2°C</span>
            </div>
            <p>Showers</p>
        </div>
        <div class="single-day">
            <p>{{"2024-02-12T13:00:00+02:00" | date }}</p>
            <div>
                <img src="../../assets/icons/01-s.png">
            </div>
            <div>
                <span>4°|</span><span>11.2°C</span>
            </div>
            <p>Showers</p>
        </div>
    </div>
</div>