<div class="banner">
    <form class="search-form">
        <input placeholder="Enter a city">
        <button>Search</button>
    </form>
</div>
<h2 class="location">Sofia, Bulgaria</h2>
<div class="container">
    <div class="current">
        <div class="header">
            <h2>CURRENT WEATHER</h2>
        </div>
        <div class="inline">
            <img src="../../assets/icons/{{town.WeatherIcon}}-s.png">
            <div>
                <p class="degrees">{{town.Temperature.Metric.Value}}° C</p>
                <p class="info">{{town.WeatherText}}</p>
            </div>
        </div>
        <div class="today">{{town.LocalObservationDateTime | date:'fullDate' }}</div>
    </div>
    <div class="forecast">
        <div class="header">
            <h2>5-DAY FORECAST</h2>
        </div>
        <div class="single-day" [class.right-border]="i !== (forecast.DailyForecasts.length - 1)" *ngFor="let item of forecast.DailyForecasts; index as i">
            <p>{{item.Date| date }}</p>
            <div>
                <img src="../../assets/icons/{{item.Day.Icon}}-s.png">
            </div>
            <div>
                <span class="low">{{item.Temperature.Minimum.Value}}</span><span> | </span><span class="high">{{item.Temperature.Maximum.Value}}</span><span>°C</span>
            </div>
            <p>{{item.Day.IconPhrase}}</p>
        </div>        
    </div>
</div>